@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans";

body {
	background-color: #0B233F;
	text-align: center;
}

* {
	font-family: "Noto Sans", "IBM Plex Sans", monospace;
	color: #F3F5F8;
}

#status {
	display: inline-block;
	border-radius: 6px;
	background-color: rgba(255, 0, 0, .4);
	color: inherit;
	padding: 10px;
	border: 1px solid red;
	border-left-width: 5px !important;
}

/*#### Login-page specific####*/

#loginInnerDiv {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.site-header {
    display: flex;
    flex-flow: column;
}

#login-div {
	
	align-items: center;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	color: #F3F5F8;
	border-radius: 5px;
}

.widget-box {
	width: 90%;
	padding: 5%;
}
.widget {
	width: 100%;
	border-radius: 5px;
	font-size: 150%;
	text-align: center;
	position: relative;
	display: inline-block !important;
}
#sls-w {
	background: red;
}

@media all and (max-width: 671px) {
	.site-header {
	 	height: 275px !important;
		width: 100%;
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	.site-header .logo::after, .site-header .logo::before {
		width: 100%;
		background-size: contain;
	}
	.site-content#login-div {
	  min-height: calc(var(--vh, 1vh)*100 - 275px);
	  display: block;
		position: absolute;
		top: 275px;
		right: 0;
		left: 0;
	}
	.widget img {
		visibility: hidden;
	}
}

@media all and (min-width: 672px) and (max-width: 1055px) {
	.widget {
		height: 88px;
		width: 33.333333%;
		background-image: attr("data-bg");
		display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
	}
	.widget img {
		position: absolute;
		top: 50%;
		left: 5px;
		transform: translate(0, 100%);
	}
	.site-header {
 	  height: 450px !important;
		width: 100%;
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	.site-header .logo::after, .site-header .logo::before {
		width: 100%;
		background-size: contain;
	}
	.site-content#login-div {
    min-height: calc(var(--vh, 1vh)*100 - 450px) !important;
    display: block !important;
		position: absolute;
		top: 450px;
		right: 0;
		left: 0;
	}
	div.widget {
	  background: attr("data-bg");
  }
	#sls-w-bg {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		padding: 2px;
		visibility: visible;
	}
}

@media all and (min-width: 1056px) {
	.widget {
		height: 88px;
		width: 33.333333%;
		background-image: attr("data-bg");
		display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
	}
	.site-header, .site-content#login-div {
	  display: inline-block;
		height: 100%;
		width: 50%;
	}
	#login-div {
	  display: inline-block;
		z-index: 1;
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}
	div.widget {
	  background: attr("data-bg")
  }
}



.logo:before {
    display: block;
    content: " ";
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #F3F5F8;
}

.logo:after {
    display: block;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    content: " ";
		position: absolute;
		width: 50%;
		top: 0;
		bottom: 0;
		left: 0;
    background-image: url("/logos/5-X%202023.png");
}

.grey-text {
	color: #6d7b8c;
}

#login-btn, button {
	background: transparent;
	border: 1px solid #F3F5F8;
	color: #F3F5F8;
	font-family: inherit;
	margin-right: auto;
	margin-left: auto;
}



.textmid,#login-div h1 {
	text-align: center;
}/*

#login-container {
	position: relative;
}*/

a{color:cyan;}

table {
	border: 1px solid #F3F5F8;
	width: 90%;
}

.logo-png {
	background-color: #F3F5F8;
	display: block;
	height: 100px;
	margin: 0;
	padding: 0;
}

.logo-png img {
	margin-left: 0;
	margin-right: auto;
	display: inline-block;
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
}

/*.logo-png:after {
	content: "4-1 2022";
	font-size: 1.5em;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	color: #0B233F;
}*/

ul {
	list-style-type: none;
}

.logo-png h1 {
	color: #0B233F;
	display: block;
	text-align: center;
	width: calc(100% - 100);
}

.logo-png * {
	vertical-align: middle;
}
/*
.logo-png { /*new, test
	background-image: url("/logo.png");
	background-repeat: no-repeat;
}*/

#loginInnerDiv {
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
}

input[type="password"], input[type="text"] {
	color: black;
}

body::after {
	position: fixed;
	display: block;
	height: 100px;
	width: 100px;
	background-image: url("/logos/5-X\ 2023.png");
	z-index: 9999;
}

.widget img {
	float: left;
}



/*homework styles */
#hwtable {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #F3F5F8
}

#hwtable tbody tr, #hwtable thead tr {
	border-bottom: 1px dashed #F3F5F8;
}

#hwtable tbody tr:last-child {
	border-bottom: none;
}